body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f8;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

label {
    font-weight: 600;
    margin-top: 1rem;
}

input {
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    transition: border 0.3s;
}

input:focus {
    border: 1px solid #007BFF;
    outline: none;
}

button {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(-2px);
}

#result {
    font-size: 1.2rem;
    color: #333;
    margin-top: 2rem;
    background-color: #e9f5ff;
    padding: 1rem;
    border-radius: 5px;
}
